#
#  Copyright 2024 - 2025 PICO. All rights reserved.
#
#  NOTICE: All information contained herein is, and remains the property of PICO.
#  The intellectual and technical concepts contained herein are proprietary to PICO.
#  and may be covered by patents, patents in process, and are protected by trade
#  secret or copyright law. Dissemination of this information or reproduction of
#  this material is strictly forbidden unless prior written permission is obtained
#  from PICO.
#

Language: Cpp
BasedOnStyle:  Google
# indent
AccessModifierOffset: -4
ContinuationIndentWidth: 8
IndentWidth: 4
TabWidth: 4
# short block
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeComma
BreakStringLiterals: false
ColumnLimit: 120
IndentCaseLabels: false
KeepEmptyLinesAtTheStartOfBlocks: true
NamespaceIndentation: All
ObjCSpaceBeforeProtocolList: false
PenaltyReturnTypeOnItsOwnLine: 100
ReflowComments: false
SortIncludes: false
SortUsingDeclarations: false
SpacesInContainerLiterals: false
InsertNewlineAtEOF: true
